doctype html
html
  head
    title= title
    script(src='/socket.io/socket.io.js', text='text/javascript')
    script(src='http://code.jquery.com/jquery-latest.js', type='text/javascript')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    block content
